<main>
  <div class="container">
    <h1 class="mb-1">سياسة الخصوصية</h1>
    <p class="mb-4">هذه هي سياسة الخصوصية التابعة لموقع دامي ديلير</p>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel
        title="
اﺳﺘﺨﺪاﻡ اﻟﻤﻌﻠﻮﻣﺎﺕ اﻟﺸﺨﺼﻴﺔ"
      >
        <ng-template ngbPanelContent>
          نقوم باستخدام المعلومات الشخصية الخاصة بك لعدة اغراض ومنها علي سبيل
          المثال، السماح لك بالدخول واستخدام الموقع، تقديم خدمة معينة لك، ارسال
          تحديثات وأخبار، إعداد إحصائيات وتقارير عن مدى شعبية الموقع لدى مستخدمي
          الإنترنت، تحسين أداء الموقع الالكتروني وخدماته وغيرها من الاستخدامات
          الأخرى
        </ng-template>
      </ngb-panel>

      <ngb-panel title="جمع المعلومات الشخصية">
        <ng-template ngbPanelContent>
          نقوم بجمع بياناتك الشخصية بطريقة مباشرة من خلالك، ويتم جمع هذه
          البيانات من خلال المعلومات التي تقدمها بنفسك بغرض التسجيل في أيًا من
          خدمات الموقع الإلكتروني، وتشمل هذه البيانات على سبيل المثال الاسم
          الشخصي، الجنس، تاريخ الميلاد، الوظيفة، العنوان البريدي، البريد
          الإلكتروني .
        </ng-template>
      </ngb-panel>

      <ngb-panel
        title="مشاركة البيانات الشخصية
"
      >
        <ng-template ngbPanelContent>
          لن يتم بمشاركة بياناتك الشخصية مع أطراف أخرى لأغراض تسويقية الا عن
          طريق التواصل معك اذا كان هنالك طلب لاستخدام بياناتك الشخصية غير ذلك لن
          يتم مشاركتها معا اي شركات او اطراف اخري .
        </ng-template>
      </ngb-panel>

      <ngb-panel
        title="سياسة نظام الشراكة
"
      >
        <ng-template ngbPanelContent>
          نظام الشراكة المقدم من شركتنا يخضع لمتابعة دورية وتدقيق لجميع الحسابات
          فاذا تم ملاحظة اي حركة غير مناسبة او غير اعتيادية سوف يتم ايقاف الحساب
          والتواصل معا صاحب الحساب لطلب تفسير اكثر .
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</main>
