.btn {
  color: white;
  background-color: $secondary-color;
  transition: 0.5s;

  &:hover {
    color: white !important;
    background-color: $secondary-color-darker-first !important;

    @include respond(md) {
      background-color: $secondary-color;
    }
  }

  @include respond(sm) {
    width: 100%;
  }
}

.btn-outline {
  color: $secondary-color !important;
  background-color: transparent !important;
  border: 1px solid $secondary-color !important;
  border-radius: 5px;
  padding: 16px;
  transition: 0.5s;

  &.active,
  &:hover {
    color: white !important;
    background-color: $secondary-color !important;
  }

  @include respond(xs) {
    padding: 8px;
  }
}
