@import "../../../styles.scss";

.navbar {
  width: 100%;
  height: 65px;
  background-color: $secondary-color;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  .btn {
    color: white;
    background-color: transparent;

    @include respond(sm) {
      width: fit-content;
    }
  }

  &-brand {
    color: white;
    font-size: 24px;
  }

  .btn-user-image {
    background-color: transparent;
    outline: none;
    border: none;

    .bi {
      color: white;
      font-size: 30px;
    }

    &.dropdown-toggle::after {
      display: none !important;
    }
  }
}

.dashboard-container {
  width: 100vw;
  height: 100vh;

  &.closed {
    .sidebar {
      transform: translateX(100%);
    }

    .main-content {
      width: 100%;
      transform: translateX(250px);
    }
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
    padding-top: 80px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    z-index: 100;

    .nav {
      padding: 0 8px;

      &-item {
        margin-top: 8px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.5s;

        .nav-link {
          color: rgba(44, 56, 74, 0.681);
        }

        &.active,
        &:hover {
          color: white;
          background-color: $secondary-color;

          .nav-link {
            color: white;
          }
        }
      }
    }
  }

  .main-content {
    width: calc(100% - 250px);
    height: 100vh;
    background-color: $bg-color;
    padding-top: 80px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 250px;
    transition: 0.5s;

    @include respond(md) {
      width: 100%;
      transform: translateX(250px);
    }
  }
}
