<ng-container *ngIf="!errorHappend">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div>
        <button class="btn btn-link" (click)="toggleSidebar()">
          <i class="bi bi-list"></i>
        </button>
        <a class="navbar-brand">دامي ديلير</a>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn-user-image"
          id="btn-user-image"
          ngbDropdownToggle
        >
          <i class="bi bi-person"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="btn-user-image">
          <button
            ngbDropdownItem
            class="text-end text-secondary"
            routerLink="/dashboard/profile"
          >
            <i class="bi bi-person"></i>
            الملف الشخصي
          </button>
          <button
            ngbDropdownItem
            (click)="logout()"
            class="text-end text-secondary"
          >
            <i class="bi bi-box-arrow-right"></i>
            تسجيل الخروج
          </button>
        </div>
      </div>
    </div>
  </nav>

  <app-loader *ngIf="isLoading"></app-loader>
  <div
    class="dashboard-container"
    [ngClass]="{ closed: isSidebarClosed }"
    *ngIf="!isLoading"
  >
    <aside class="sidebar">
      <ul class="nav flex-column">
        <li
          class="nav-item"
          routerLink="/dashboard/overview"
          routerLinkActive="active"
        >
          <a class="nav-link">لوحة التحكم</a>
        </li>
        <li
          class="nav-item"
          routerLink="/dashboard/all-products"
          routerLinkActive="active"
        >
          <a class="nav-link">تصفح كل المنتجات</a>
        </li>
        <div *ngIf="userRole === 'seller'">
          <li
            class="nav-item"
            routerLink="/dashboard/own-products"
            routerLinkActive="active"
          >
            <a class="nav-link">المنتجات الخاصة بك</a>
          </li>
          <li
            class="nav-item"
            routerLink="/dashboard/own-products-requests"
            routerLinkActive="active"
          >
            <a class="nav-link">الطلبات الخاصة بك</a>
          </li>
        </div>
        <div *ngIf="userRole === 'buyer'">
          <li
            class="nav-item"
            routerLink="/dashboard/own-orders"
            routerLinkActive="active"
          >
            <a class="nav-link">طلباتك</a>
          </li>
          <li
            class="nav-item"
            routerLink="/dashboard/balance"
            routerLinkActive="active"
          >
            <a class="nav-link">الرصيد</a>
          </li>
          <li
            class="nav-item"
            routerLink="/dashboard/balance-history"
            routerLinkActive="active"
          >
            <a class="nav-link">طلبات السحب</a>
          </li>
        </div>
      </ul>
    </aside>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-container>

<app-error-page *ngIf="errorHappend"></app-error-page>
