<footer class="footer">
  <div class="footer__divider"></div>
  <div class="container">
    <div class="footer__content">
      <div class="footer__content--text">
        <h3>دامي ديلير</h3>
        <p class="">
          دامي ديلر هي شركة مصرية قام بتأسيسها بعض الشباب المصريين للمساعدة على
          تسهيل التجارة الإلكترونية في مصر ومنح الجميع فرصة للتجارة عبر الإنترنت
          عن طريق توفير سلع بسعر مناسب ومساعدتهم في إيصالها لعملائهم في أسرع وقت
          وأفضل جودة.
        </p>
      </div>
      <div class="footer__content--links">
        <h3>تصفح أسرع</h3>
        <nav>
          <ul class="links-list">
            <li class="link">
              <a class="link-dir" routerLink="home">الرئيسية</a>
            </li>
            <li class="link">
              <a class="link-dir" routerLink="all-products">كل المنتجات</a>
            </li>
            <li class="link">
              <a class="link-dir" routerLink="contact-us">تواصل معنا</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="copyrights__content">
      <p class="copy">
        <span> جميع الحقوق محفوظة &copy; دامي ديلر </span>
        <a routerLink="privacy">سياسة الخصوصية</a>
        <a routerLink="faq">الأسئلة الشائعة</a>
      </p>

      <ul class="social">
        <li>
          <i class="bi bi-facebook"></i>
        </li>
        <li>
          <i class="bi bi-whatsapp"></i>
        </li>
      </ul>
    </div>
  </div>
</footer>
