@import "../../../../styles.scss";

main {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.account {
  font-weight: 500;
  font-size: 17px;
}

.contact {
  font-size: 13px;
}

.form-control {
  text-indent: 17px;
}

.inputbox {
  margin-bottom: 15px;
  position: relative;
}

.inputbox i {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #dadada;
}

.form-check-label {
  font-size: 13px;
}

.form-check-input {
  width: 14px;
  height: 15px;
  margin-top: 5px;
}

.forgot {
  color: $secondary-color;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.mail {
  color: #4a148c;
  text-decoration: none;
}

.form-check {
  cursor: pointer;
}

.btn-primary {
  width: fit-content;
  display: block;
  margin: auto;
}

.register-now a {
  color: $middle-color;
  text-decoration: none;
  cursor: pointer;
}

.error-div {
  height: 15px;
}
