<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    <div
      class="badge text-white position-absolute"
      style="top: 0.5rem; right: 0.5rem"
      (click)="addToFavoriteList(product._id)"
      (click)="product.isFavorite = !product.isFavorite"
    >
      <i class="bi bi-star-fill" *ngIf="product.isFavorite"></i>
      <i class="bi bi-star" *ngIf="!product.isFavorite"></i>
    </div>
    <!-- Product image-->
    <img
      class="card-img-top"
      [src]="product.image[0]"
      [alt]="product.name"
      width="250px"
      height="250px"
    />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">{{ product.name }}</h5>
        <!-- Product reviews-->

        <div class="d-flex justify-content-center small mb-2">
          <div class="bi-star-fill" *ngFor="let rate of product.rate"></div>
          <div class="bi-star" *ngFor="let rate of product.rateFree"></div>
        </div>
        <!-- Product price-->
        <!-- <span class="text-muted text-decoration-line-through">$20.00</span> -->
        &#163;{{ product.sellPrice }}
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a
          class="btn-outline p-1"
          [routerLink]="['/marketing-website/product-details', product._id]"
          >عرض التفاصيل</a
        >
      </div>
    </div>
  </div>
</div>
