<div class="loading" *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<main *ngIf="!isLoading">
  <section class="product-details" *ngIf="!errorMessage">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img
            class="card-img-top mb-5 mb-md-0"
            [src]="product.image[0]"
            [alt]="product.name"
          />
        </div>
        <div class="col-md-6">
          <span class="small fw-normal">{{ product.category }}</span>
          <h1 class="display-5 fw-bolder my-3">{{ product.name }}</h1>
          <div class="fs-5 product-price">
            <!-- <span class="text-decoration-line-through">$45.00</span> -->
            <span> &#163;{{ product.sellPrice }} </span>
          </div>
          <div class="d-flex justify-content-start small mt-2">
            <div class="bi-star-fill" *ngFor="let rate of product.rate"></div>
            <div class="bi-star" *ngFor="let rate of product.rateFree"></div>
          </div>
          <p class="lead mt-3 fw-lighter">
            {{ product.description }}
          </p>

          <h5 class="sizes mt-4">
            المقاسات المتاحة:
            <span
              class="size"
              data-toggle="tooltip"
              title="{{ size }}"
              *ngFor="let size of sizes"
              >{{ size }}</span
            >
            <!-- <span class="size" data-toggle="tooltip" title="medium">m</span>
          <span class="size" data-toggle="tooltip" title="large">l</span>
          <span class="size" data-toggle="tooltip" title="xtra large">xl</span> -->
          </h5>

          <!-- <h5 class="colors mt-3">
          الألوان المتاحة:
          <span
            class="color orange not-available"
            data-toggle="tooltip"
            title="Not In store"
          ></span>
          <span class="color green"></span>
          <span class="color blue"></span>
        </h5> -->

          <button class="btn btn-custom mt-3 ms-1" type="button">
            <i class="bi-cart-fill me-1"></i>
            اضافة طلب شراء
          </button>

          <button class="btn btn-custom mt-3" type="button">
            <i class="bi bi-truck me-1"></i>
            عرض أسعار الشحن
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Related items section-->
  <section class="py-5 bg-light" *ngIf="!errorMessage">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">منتجات ذات صلة</h2>
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <app-product-card
          *ngFor="let product of relatedProducts"
          [product]="product"
        ></app-product-card>
      </div>
    </div>
  </section>

  <div class="alert alert-danger container" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</main>
