.loading {
  height: 100vh;
}

main {
  min-height: 100vh;
  padding-top: 9rem;
}

.bi-star {
  color: #59469c;
}

.bi-star-fill {
  color: #475ba9;
}

.size {
  margin-right: 10px;
}
.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}
.color:first-of-type {
  margin-right: 20px;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}
