<section
  class="all-products"
  [ngStyle]="{ 'padding-top': isDashboard ? '0' : '64px' }"
>
  <div class="container alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="container px-4 px-lg-5 mt-5" *ngIf="!errorMessage">
    <div class="search-container">
      <form class="search-form position-relative">
        <input
          type="text"
          class="form-control position-absolute"
          #productName
        />
        <button
          type="submit"
          class="btn position-absolute"
          (click)="getProductsByName(productName.value)"
        >
          <i class="bi bi-search"></i> بحث
        </button>
      </form>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="selectedCategory"
        (change)="getProductsByCategory()"
      >
        <option value="" selected>أختر فئة</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <app-spinner *ngIf="isSpinning"></app-spinner>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start"
      *ngIf="!isSpinning"
    >
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
      ></app-product-card>
    </div>

    <div
      class="alert alert-secondary w-100"
      role="alert"
      *ngIf="products.length === 0 && !errorMessage && !isSpinning"
    >
      لا يوجد اي منتجات
    </div>

    <ngb-pagination
      class="d-flex justify-content-center"
      *ngIf="products.length && !isSpinning"
      [boundaryLinks]="true"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      [collectionSize]="collectionSize"
      (pageChange)="getAllProducts({ page: $event, pageSize: itemsPerPage })"
    ></ngb-pagination>
  </div>
</section>
