<app-spinner *ngIf="isSpinning"></app-spinner>

<main *ngIf="!isSpinning">
  <div class="container">
    <header class="my-3">
      <div class="d-flex justify-content-between align-items-center gap-3">
        <h1>
          رصيدك الحالي:
          <span dir="ltr">{{ currentBalance }} E&#xa3;</span>
        </h1>
        <button
          type="button"
          class="btn btn-custom"
          (click)="open(addBalanceRequestModal)"
        >
          <i class="bi bi-plus"></i> اضافة طلب سحب رصيد
        </button>
      </div>
    </header>

    <div class="table-container mt-5">
      <h3>سجل باخر عمليات السحب</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">كود الطلب</th>
            <th scope="col">قيمة السحب</th>
            <th scope="col">تاريخ السحب</th>
            <th scope="col">حالة الطلب</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td
              colspan="5"
              *ngIf="!lastTransactions?.length && !errorMessage && !isSpinning"
            >
              لا تقم بأي طلبات سحب حتي الأن
            </td>
          </tr>

          <tr>
            <td colspan="5" *ngIf="errorMessage">
              {{ errorMessage }}
            </td>
          </tr>

          <tr *ngFor="let request of lastTransactions; let index = index">
            <th>{{ index }}</th>
            <td>{{ request._id }}</td>
            <td>{{ request.withdrawnAmount }}</td>
            <td>{{ request.createdAt }}</td>
            <td>{{ request.state == 0 ? "قيد المراجعة" : "تم السحب" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<ng-template #addBalanceRequestModal let-c="close" let-d="dismiss">
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title" id="modal-basic-title">اضافة منتج جديد</h4>
    <button
      type="button"
      class="btn-close m-0"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div
      class="container alert alert-danger"
      role="alert"
      *ngIf="currentBalance <= 0"
    >
      ليس لديك رصيد لتقديم طلب سحب
    </div>
    <form
      class="mb-5"
      #addBalanceRequestForm="ngForm"
      *ngIf="currentBalance > 0"
    >
      <div class="row mb-2">
        <div class="col-md-12 form-group">
          <label for="balanceAmount" class="col-form-label">الرصيد</label>
          <input
            type="text"
            class="form-control"
            name="balanceAmount"
            id="balanceAmount"
            ngModel
            #balanceAmount="ngModel"
            required
          />
          <div class="text-danger error-div">
            <small
              *ngIf="
                (balanceAmount.dirty || balanceAmount.touched) &&
                balanceAmount.hasError('required')
              "
              >هذا الحقل مطلوب</small
            >
            <small
              *ngIf="
                (balanceAmount.dirty || balanceAmount.touched) &&
                balanceAmount.value > currentBalance
              "
              >ليس لديك هذا المبلغ</small
            >
          </div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-custom"
        [disabled]="!addBalanceRequestForm.valid"
      >
        اضافة
      </button>
    </form>
  </div>
</ng-template>
