<main>
  <section class="hero">
    <div class="container">
      <div class="hero__main">
        <div>
          <h1 class="main-heading">
            اكتشف عالم التجارة مع <span>دامي ديلر</span> - انطلق نحو النجاح!
          </h1>
          <p class="lead fw-normal mt-5 mb-4 my-md-3">
            دامي ديلر بتوفرلك تشكيلة كبيرة ومتنوعة من المنتجات عشان تقدر تتاجر
            براحتك وتحقق أكبر قدر من الأرباح من أي مكان تختاره بسهولة تامة.
          </p>
          <button class="btn btn-custom py-4 px-5" routerLink="/signup">
            ابدأ دلوقتي
          </button>
        </div>
        <img
          src="../../../../../assets/images/marketing-website/hero-image.webp"
          alt="صورة الخلفية الرئيسية"
          class="w-100"
        />
      </div>
    </div>

    <div class="hero__features mt-lg-5">
      <div class="container-fluid container-lg d-flex text-center">
        <div>
          <img
            src="../../../../../assets/images/marketing-website/hero-section/sell-with-ease.webp"
            alt="شعار الويب"
          />
          <h5>بيع بكل سهولة</h5>
        </div>
        <div>
          <img
            src="../../../../../assets/images/marketing-website/hero-section/up-to-date-inventory.webp"
            alt="مجموعة شنط"
          />
          <h5>منجاتنا جديدة دايما</h5>
        </div>
        <div>
          <img
            src="../../../../../assets/images/marketing-website/hero-section/best-quality-product.webp"
            alt="كأس ذهبي"
          />
          <h5>افضل جودة</h5>
        </div>
        <div>
          <img
            src="../../../../../assets/images/marketing-website/hero-section/great-profit-margin.webp"
            alt="أموال"
          />
          <h5>مكسب كبير مضمون</h5>
        </div>
        <div>
          <img
            src="../../../../../assets/images/marketing-website/hero-section/fastest-delivery.webp"
            alt="صاروخ"
          />
          <h5>توصيل فائق السرعة</h5>
        </div>
      </div>
    </div>
  </section>

  <section class="why-us">
    <div class="container">
      <div class="why-us__container">
        <div class="why-us__container--text-box">
          <h2>أبدا دلوقتي من غير اي رسوم</h2>
          <p class="lead">
            أي حد بيبدأ تجارة الكترونية بيواجه مشاكل في توفير المنتج وتخزينه
            والتعامل مع شركات الشحن والمندوبين لكن أحنا في دامي ديلير حلينا كل
            ده كل اللي عليك تاخد المنتج وتعرضه علي العميل وأحنا بنقوم بكل حاجة
            بعد كده سواء توصيل أو تحصيل وارباحك هتنزلك علي حسابك.
          </p>
        </div>
        <div class="why-us__container--image-box">
          <img
            src="../../../../../assets/images/marketing-website/features-section/no-money.webp"
            alt="صورة بتعبر عن انك تقدر تبدا شغل من غير أي فلوس"
          />
        </div>

        <div class="why-us__container--image-box">
          <img
            src="../../../../../assets/images/marketing-website/features-section/ecomerce.webp"
            alt="صورة لشخص يختار المنتجات الخاصة به"
          />
        </div>
        <div class="why-us__container--text-box">
          <h2>دور علي المنتجات الكسبانة</h2>
          <p class="lead">
            دامي ديلير بتسهلهالك وبتديلك فرصة انك تختار أحسن المنتجات من مجموعة
            مختلفة ومن أحسن الموردين في كل مكان في الجمهورية، علشان تقدر تبتدي
            تجارتك الإلكترونية بكل سهولة.
          </p>
        </div>

        <div class="why-us__container--text-box mb-0">
          <h2>تقدر تبدأ تجارتك من اي مكان</h2>
          <p class="lead">
            كل اللي عليك تدخل علي dummydealer.com وبتسجل حساب مجاني بالكامل
            واختار المنتجات اللي تناسبك من أكتر من فئة مختلفة وابدأ تسويق
            منتجاتك على منصات التواصل الاجتماعي أو بالطريقة اللي بتحبها وابدأ
            بيع وجمع أرباحك فورًا.
          </p>
        </div>
        <div class="why-us__container--image-box">
          <img
            src="../../../../../assets/images/marketing-website/features-section/work-from-any-place.webp"
            alt="صورة بتعبر عن الشغل بحرية من اي مكان"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="what-is">
    <div class="container-lg container-fluid">
      <div class="what-is__container p-5">
        <h2 class="mb-3">يعني ايه تجارة الكترونية؟</h2>
        <div class="what-is__grid">
          <div class="what-is__grid--item">
            <img
              src="../../../../../assets/images/marketing-website/what-is/your-price.png"
              alt="صورة للمنتج بسعرك"
            />
            <h5>
              بتعرض المنتجات اللي اخترتها علي السوشيال ميديا او الطريقة اللي
              تريحك
            </h5>
          </div>
          <img
            src="../../../../../assets/images/shared/arrow-step.svg"
            alt="ايقونة تعبر عن الخطوة التالية"
            class="step-arrow"
          />
          <div class="what-is__grid--item">
            <img
              src="../../../../../assets/images/marketing-website/what-is/suplier-price.png"
              alt="صورة للمنتج بسعر المورد"
            />

            <h5>أول ما العميل يطلب منك المنتج بتسجله علي موقعنا</h5>
          </div>
          <img
            src="../../../../../assets/images/shared/arrow-step.svg"
            alt="ايقونة تعبر عن الخطوة التالية"
            class="step-arrow"
          />
          <div class="what-is__grid--item">
            <img
              src="../../../../../assets/images/marketing-website/what-is/delivery.webp"
              alt="صورة للشحن"
            />
            <h5>
              أحنا بنقوم بكل حاجة من هنا وبنبعت للموردين عشان يشحنو المنتج
            </h5>
          </div>
          <img
            src="../../../../../assets/images/shared/arrow-step.svg"
            alt="ايقونة تعبر عن الخطوة التالية"
            class="step-arrow"
          />
          <div class="what-is__grid--item">
            <img
              src="../../../../../assets/images/marketing-website/what-is/your-profit.png"
              alt="صورة لارباحك"
            />
            <h5>أنت بتحصل مكسبك أول اما العميل يستلم ويدفع</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="start-with-us">
    <div class="container">
      <h2 class="text-center mb-3">أزاي تبدا معانا؟</h2>
      <h4 class="text-center">
        سجل علي دامي ديلر
        <button
          class="btn btn-custom-outline"
          [class.active]="marketerActive"
          (click)="marketerActive = true; merchantActive = false"
          type="button"
        >
          كمسوق
        </button>

        او
        <button
          class="btn btn-custom-outline"
          [class.active]="merchantActive"
          (click)="marketerActive = false; merchantActive = true"
          type="button"
        >
          كتاجر
        </button>
      </h4>
      <div class="start-with-us__slider">
        <div
          class="start-with-us__slider--content marketer"
          [style.left]="marketerActive ? '0' : '110%'"
        >
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/auth.webp"
                alt="صورة للتسجيل"
              />
            </div>

            <div>
              <p>سجل علي موقع دامي ديلر كمسوق</p>
              <button class="btn" type="button">سجل دلوقتي</button>
            </div>
          </div>

          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/shopping-cart.webp"
                alt="صورة عربة تسوق"
              />
            </div>
            <p>قم بتصفح المنتجات واختار مجموعة من المنتجات وقم بالتسويق لها</p>
          </div>
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/package.webp"
                alt="صورة للتسجيل"
              />
            </div>
            <p>سجل عملائك علي دامي ديلر حتي نقوم بارسال الطلبات اليهم</p>
          </div>
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/great-profit-margin.webp"
                alt="صورة للتسجيل"
              />
            </div>
            <p>ربحك هنحولهولك في حسابك لما يتاكيد طلبك كطلب ناجح</p>
          </div>
        </div>

        <div
          class="start-with-us__slider--content merchant"
          [style.left]="merchantActive ? '0' : '-110%'"
        >
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/auth.webp"
                alt="صورة للتسجيل"
              />
            </div>
            <div>
              <p>سجل علي موقع دامي ديلر كتاجر</p>
              <button class="btn" type="button">سجل دلوقتي</button>
            </div>
          </div>
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/sell-with-ease.webp"
                alt="صورة للتسجيل"
              />
            </div>
            <p>ابدا بعرض منتجاتك علي دامي ديلر حتي يتمكن المسوقين من بيعها</p>
          </div>
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/package.webp"
                alt="صورة للتسجيل"
              />
            </div>
            <p>
              عندما يتم التاكيد علي طلبات العملاء من قبل دامي ديلر سنقوم
              بمراسلتك لارسال الطلبات للعملاء
            </p>
          </div>
          <div>
            <div class="image-box">
              <img
                src="../../../../../assets/images/marketing-website/srart-with-us/great-profit-margin.webp"
                alt="صورة للتسجيل"
              />
            </div>
            <p>بمجرد استلامك الأموال من العميل يمكنك ان تخصم حساب منتجاتك</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta text-center">
    <div class="container">
      <h2 class="mb-5">
        يالا أبدا رحلتك في عالم التجارة الالكترونية دلوقتي بدون أي رسوم
      </h2>
      <button class="btn btn-custom mt-5" type="button">
        ابدأ دلوقتي بشكل مجاني تماما
      </button>
    </div>
  </section>
</main>
