$primary-color: #017ec3;
$secondary-color: #59469c;
$middle-color: #475ba9;
$secondary-color-lighter-first: #dedaeb;
$secondary-color-lighter-second: #eeedf5;
$secondary-color-darker-first: #47387d;

$primary-font-color: #222939;
$bg-color: #f7faff;
